.hidden {
	display: none !important;
}

.container {
	margin: 0 auto;
	max-width: 1024px;
	width: 100%;
}

.container-woo {
	@extend .container;
	max-width: 1500px;
	padding: $base-dim;
}

.container-content {
	@extend .container;
	max-width: 1300px;
	padding: $base-dim * 5 !important;
	margin-bottom: $base-dim * 15;

	input,
	textarea,
	select {
		margin: $base-dim * 2;
		padding: $base-dim * 3 !important;
		border: 1px solid rgba($cyan-500, 0.3) !important;
		min-width: $base-dim * 25 !important;
		display: inline-block !important;
		&:focus {
			outline: none !important;
			border: 1px solid $cyan-500 !important;
		}
	}
}

.img {
	display: inline-block;
	margin-bottom: $base-dim * 9;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.sidebar {
	padding: $base-dim * 5;
	@include shaddow;

	ul {
		li {
			margin-bottom: $base-dim * 3;
		}
	}

	&.filter {
		@include flex(space-between, row, "start", wrap);
		margin-bottom: $base-dim * 13;
		.widget-item {
			margin: 0 $base-dim * 5;
			margin-bottom: $base-dim * 7;
			.widget-title {
				margin-bottom: $base-dim * 5;
				font-weight: bold;
				position: relative;
				&:before {
					content: "";
					position: absolute;
					padding: $base-dim / 2;
					width: $base-dim * 20;
					background-color: $black;
					top: $base-dim * 8;
				}
			}

			a {
				color: $black;
				&:hover {
					color: $cyan-500;
				}
			}
		}
	}
}

.select2-selection.select2-selection--single {
	border: 1px solid $cyan-500 !important;
	&:focus {
		outline: none !important;
		border: 1px solid $cyan-500 !important;
	}
}

a {
	display: inline-block !important;
	text-decoration: none !important;
	color: $lightBlue-600;
	&:hover {
		color: $lightBlue-900;
	}
}

h2,
h3,
h1 {
	margin-bottom: $base-dim * 7;
}
