@mixin bg-img {
	background: {
		position: center;
		repeat: no-repeat;
		size: cover;
	}
}

@mixin flex($justify: center, $direction: row, $align: center, $wrap: nowrap) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $direction;
	flex-wrap: $wrap;
}

@mixin shaddow {
	border-radius: 2px !important;
	box-shadow: 1px 1px 5px 0 rgba($black, 0.3) !important;
}

@mixin inner-shaddow {
	box-shadow: inset 5px 5px 13px 0 rgba($black, 0.3);
}

@mixin btn($border: #1f51ff, $color: $white, $bgc: #1f51ff) {
	border: 2px solid $border !important;
	padding: $base-dim * 3 $base-dim * 5 !important;
	border-radius: $base-dim !important;
	font-weight: bolder !important;
	font-size: $base-dim * 6 !important;
	color: $color !important;
	background-color: $bgc !important;

	&:hover {
		color: $bgc !important;
		background-color: $color !important;
	}
}

@mixin overlay($percent: 0.5) {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba($gray-900, $percent);
}
