@import "base/tailwind";
@import "base/variables";
@import "base/reset";
@import "base/mixins";
@import "base/config";
@import "base/functions";

header {
	background-color: $white;
	box-shadow: 0 7px 20px 0 rgba($black, $alpha: 0.5);
	z-index: 3;

	.container {
		padding: $base-dim * 7 0;
		background-color: $white;
		@include flex(space-between);

		#logo {
			padding: $base-dim * 3;
		}

		ul {
			@include flex(space-between);
			li {
				margin: 0 $base-dim * 3;

				a {
					color: $indigo-500;
					&:hover {
						color: $indigo-900;
					}
				}
			}
		}
	}
}

#hero {
	background-color: $gray-200;
	@include bg-img;
	.container {
		@include flex();
		color: $white;
		height: $base-dim * 120;
	}
}

#main-footer {
	background-color: $blueGray-900;
	color: $blueGray-100;

	padding: $base-dim * 17;
}

.file {
	margin: $base-dim * 13;
	.content {
		@include flex(space-evenly, flex-start);

		.post-content {
			padding: $base-dim * 3;
		}
	}
}
